<html>
    <head>
        <title>one post!</title>
    </head>
    <body>
        <span> {{ post.date }} </span>
        <a href="/post/{{post._id}}"><img src='{{ post.filepath }}'></a>
        <p> {{ post.dataCaption }} </p>
    </body>
</html>